.visibility {
  display: none; }

.visibility-inverse {
  display: block; }

.illustration-container {
    height: auto;
  max-width: 100%;
  margin: 0 auto;}

.response-testimotinal {
  display: none; }
